on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  quality-control:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v4
      # Install Python
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      # Install required packages
      - name: Install packages
        run: pip3 install -r requirements.txt
      # Run pytest
      - name: Run tests
        run: pytest
      # Run pylint
      - name: Run linter
        run: pylint --fail-under=0 ./*.py
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v4
      # Store the key as a file
      - name: "Store key"
        run: echo "${{ secrets.SSH_PRIVATE_KEY }}" > .pemkey
      - name: Deploy
        run: scp -o "StrictHostKeyChecking=no" -i .pemkey test_main.py ec2-user@"${{ secrets.REMOTE_HOST }}":.
