on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  quality-control:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v4
      # Install Python
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      # Install required packages
      - name: Install packages
        run: pip3 install -r ./langdale_zoo_api/requirements.txt
      # Run pytest
      - name: Run tests
        run: pytest langdale_zoo_api
      # Run pylint
      - name: Run linter
        run: pylint --fail-under=0 ./langdale_zoo_api/*.py
  deploy:
    runs-on: ubuntu-latest
    needs: quality-control
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v4
      # Store the key as a file
      - name: "Store key"
        run: | 
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > .pemkey
          chmod 400 .pemkey
      - name: Deploy
        run: scp -r -o "StrictHostKeyChecking=no" -i .pemkey langdale_zoo_api ec2-user@"${{ secrets.REMOTE_HOST }}":.
      - name: "Stop server"
        run: pkill -f app.py || true
      - name: "Restart server"
        run: |
          ssh -o "StrictHostKeyChecking=no" -i .pemkey ec2-user@"${{ secrets.REMOTE_HOST }}" "cd langdale_zoo_api; nohup python3 -u app.py &"
